<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>La boutique en ligne Le shoppeur</title>
  <%= stylesheet_link_tag "depot", :media => "all" %>
  <%= javascript_include_tag :defaults %>
</head>
<!-- END:jit -->
<body id="store">
  <div id="banner">
    <img src="/images/logo.png"/>
    <%= @page_title || "Le Shoppeur" %>
  </div>
  <div id="columns">
    <div id="side">
  
    
      <%= link_to "Accueil", :controller => 'store' %><br />
      <a href="http://www..../faq">Questions</a><br />
      <a href="http://www..../news">Actualités</a><br />
      <a href="http://www..../contact">Contact</a><br />
    </div>
    <div id="main">
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>
