<!--
 ! Excerpted from "Ruby on Rails, 2nd Ed."
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.editions-eyrolles.com/Livre/9782212120790/ for more book information.
-->
<h1>Editing product</h1>

<% form_tag :action => 'update', :id => @product do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @product %> |
<%= link_to 'Back', :action => 'list' %>