<% @page_title = "Administrer le Shoppeur" %>
<h1>État du magazin Le Shoppeur</h1>
<p>
  Nombre de total des commandes : <%= @total_orders %>
</p>
<p>
  Commandes en attente : <%= @pending_orders %>
</p>